@keyframes hoverDirs {
  0% {
    transform: scaleX(1)scaleY(1);
  }
  100% {
    transform: scaleX(1.03)scaleY(1.1);
  }
}

#directorytree--button-showhide  {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  text-align: center;
  height: 3rem;
  width: 5rem;
  left: 5px;
}

#directorytree--body {
  z-index: 1;
  cursor: default;
  max-width: 30rem;
  width: calc(var(--screen-width) * .6);
  height: calc(var(--screen-height) - 4rem);
  background-color: #333355;
  position: fixed;
  left: 0;
  top: 4rem;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-right: 5px;
}

#directory--tree-parent-directory, .directory--tree-directory {
  font-family: 'roboto slab';
  color: white;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 5px;
}

#directory--tree-parent-directory {
  background-color: #111;
  font-size: 1.3rem;
  border-radius: 5px;
  color: white;
}

.directory--tree-directory:hover {
  animation: hoverDirs 100ms forwards ease-out;
}

@media screen and (max-width: 768px) {
  #directorytree--button-showhide  {
    position: absolute;
    top: 1rem;
  }
  #directorytree--body {
    top: 5rem;
  }
}