@import '../SCSS\ General/variables';

@keyframes loadDisplay {
  0% {
      position: absolute;
      opacity: 0.4;
      transform: scale(0%);
  }
  100% {
      opacity: 1;
      position: absolute;
      transform: scale(100%);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  } 100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  } 100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.viewitem--block {
  @include flexStyle(column);
  position: fixed;
  left: 0;
  background-color: #0f0f0ff9;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 25;
}

#image-fullscreen {
  height: $fullscreenHeight;
  width: $fullscreenWidth;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

.viewitem--item, #viewitem--video {
  height: $fullscreenHeight;
  width: $fullscreenWidth;
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}

.viewitem--item.loaded {
  animation: loadDisplay forwards ease-out 500ms;
}
.viewitem--item.fromright {
  animation: fromRight 500ms forwards ease-in-out;
}
.viewitem--item.fromleft {
  animation: fromLeft 500ms forwards ease-in-out;
}

#button--forwards, #button--backwards {
  position: fixed;
  z-index: 25;
  height: 2%;
  max-height: 3rem;
  min-height: 0.5rem;
  cursor: pointer;
  top: calc(50vh - 1.5rem);
}

#display--name {
  position: fixed;
  top: 1%;
  text-align: center;
  width: 100%;
  left: 0;
  z-index: 25;
  color: white;
  font-family: 'roboto slab';
}

#button--forwards {
  right: 1rem;
}

#button--backwards {
  left: 1rem;
}

.viewitem--close {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 3%;
  max-width: 2.5rem;
  aspect-ratio: 1;
  z-index: 26;
  &:hover {
    transform: scale(1.1);
    transition: 100ms ease-in;
  }
}

#navigating-indicator {
  display: flex;
  align-items: center;
  position: fixed;
  left: 1%;
  top: 1%;
  width: 3%;
  max-width: 2.5rem;
  aspect-ratio: 1;
  z-index: 26;
}

#navigating-indicator img {
  position: absolute;
  width: 100%;
}

#navigating-indicator-popup {
  width: max-content;
  font-family: 'bebas neue';
  font-size: 1.3rem;
  z-index: 1;
  background-color: black;
  height: 100%;
  @include flexStyle(row);
  color: white;
  position: absolute;
  left: 125%;
  padding: 5% 1.5rem 0 1.5rem;
  top: 2%;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

#navigating-indicator:hover #navigating-indicator-popup, #navigating-indicator-popup:focus-within {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transform: scaleX(1);
}

#confirmexit--body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background-color: #11111188;
  @include flexStyle(row);
  * {
    font-family: 'bebas neue'
  }
  p {
    color: white;
    font-family: 'akshar';
    font-size: 3rem;
    position: relative;
    top: -5%;
    left: 45%;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      opacity: 1;
      transition: transform 100ms ease-in-out, opacity 300ms ease-in-out;
    }
  }
}

#confirmexit--popup {
  @include flexStyle(column);
  width: 35%;
  aspect-ratio: 5/3;
  background-color: black;
  outline: inset darkgreen;
  border-radius: 1rem;
  h1 {
    margin-inline: 1rem;
    font-size: 2.2rem;
    text-align: center;
    color: white;
  }
  button {
    position: relative;
    aspect-ratio: 5/2;
    width: 30%;
    font-size: 1.2em;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  #left {
    bottom: -15%;
    left: -25%;
    background-color: red;
  }
  #right {
    bottom: 5%;
    right: -25%;
    background-color: green;
  }
}