@import '../SCSS\ General/variables';

@keyframes focusImage {
  0% {
      position: absolute;
      opacity: 0.4;
      transform: scale(0%);
  }
  100% {
      opacity: 1;
      position: absolute;
      transform: scale(100%);
  }
}

.viewitem--block {
  @include flexStyle(column);
  position: absolute;
  left: 0;
  background-color: #0f0f0ff9;
  width: $fullscreenWidth;
  height: $fullscreenHeight;
  top: 0;
  z-index: 50;
}

.viewitem--block.mini-player {
  width: 30vw;
  height: 30vh;
}

#image-fullscreen {
  height: $fullscreenHeight;
  width: $fullscreenWidth;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

.viewitem--item {
  height: $fullscreenHeight;
  width: $fullscreenWidth;
  object-fit: contain;
  animation: focusImage forwards ease-out 500ms;
  max-width: 96%;
  max-height: 96%;
}

#button--forwards, #button--backwards {
  position: absolute;
  z-index: 1;
  height: 3rem;
  cursor: pointer;
  top: calc(50vh - 1.5rem);
}

#button--forwards {
  right: 1rem;
}

#button--backwards {
  left: 1rem;
}

#viewitem--block-document {
  background-color: #101010fe;
  width: 100%;
  min-height: 100%;
}

#viewitem--document {
  top: 3rem;
  text-align: left;
  font-size: 1.5rem;
  color: white;
  margin: 1rem;
  border: none;
  outline: none;
  background-color: #222;
  height: calc(100vh - 5rem);
}

.viewitem--close {
  position: absolute ;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 51;
  &:hover {
    transform: scale(1.2);
    transition: 100ms ease-in;
  }
}

#navigating-indicator {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: max-content;
}

#navigating-indicator img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 50%;
}

#navigating-indicator-popup {
  font-family: 'bebas neue';
  font-size: 1.3rem;
  z-index: 1;
  background-color: black;
  height: 3rem;
  @include flexStyle(row);
  color: white;
  position: fixed;
  left: 4.5rem;
  padding-inline: 1.5rem;
  top: 1rem;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

#navigating-indicator:hover #navigating-indicator-popup, #navigating-indicator-popup:focus-within {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transform: scaleX(1);
}