
@keyframes focusImage {
  0% {
      opacity: 0;
      transform: scale(40%);
  }
  100% {
      opacity: 1;
      transform: scale(100%);
  }
}

.viewitem--block {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0ff4;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
}

#image-fullscreen {
  object-fit: contain;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

.viewitem--item {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  animation: focusImage forwards ease-out 500ms;
  max-width: 96%;
  max-height: 96%;
}

#viewitem--document {
  text-align: left;
  font-size: 1.5rem;
  color: white;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap; 
  margin: 1rem;
  border: none;
  outline: none;
  background-color: #222;
  height: calc(var(--screen-height) - 5rem);
  width: var(--screen-width);
}

#viewitem--block-document {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #101010fe;
  width: 100%;
  min-height: 100%;
  height: max-content;
}


.viewitem--close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  color: white;
  background-color: #00000000;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  font-family:'bebas neue';
  z-index: 1;
}

#viewitem--filename {
  color: white;
  cursor: default;
  font-size: 2rem;
}
