@import "../../SCSS\ General/variables";

@keyframes hoverDirs {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1.03) scaleY(1.05);
  }
}

.opendirectory--list {
  $var: 0;

  @for $i from 0 through 15 {
    &:nth-child(#{$i}) {
      margin-left: #{$var * 7}px;
      $var: $var + 1;
    }
  }
}

#directorytree--button-showhide {
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  height: 3rem;
  width: 5rem;
  left: 5px;
  max-width: 10%;
}

#directorytree--body {
  z-index: 10;
  height: calc(100vh - 4rem);
  width: 35%;
  background-color: #111;
  position: absolute;
  left: -5px;
  top: 4rem;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0 0.7rem 4rem 1.4rem;
}

.tree--expanded-chunk {
  position: relative;
}

.line--down {
  position: absolute;
  margin-top: 2.5rem;
  left: 0;
  top: 0;
  height: calc(100% - 2.5rem);
  width: 0.5rem;
  background: linear-gradient(
    to right,
    #00000000 45%,
    white 46%,
    white 54%,
    #00000000 56%
  );
  background-size: 100%;
  border-radius: 40%;
  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      #00000000 35%,
      $accentColor 36%,
      $accentColor 64%,
      #00000000 65%
    );
  }
}

.path--identifier-curve {
  cursor: pointer;
  position: absolute;
  top: 0%;
  background-color: red;
  clip-path: polygon(
    0 0,
    10% 0,
    10% 62%,
    10% 86%,
    14% 90%,
    31% 90%,
    100% 90%,
    100% 100%,
    65% 100%,
    35% 100%,
    0 100%,
    0 80%
  );
  border-bottom-left-radius: 0.3rem;
}

.path--identifier-line {
  cursor: pointer;
  background-color: red;
  width: 2px;
  position: absolute;
}

.folder--icon {
  width: 1.3em;
  margin-right: 5px;
}

.tree--open-directory,
.tree--closed-directory {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  height: 1.5rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-family: "roboto slab";
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scaleX(1.03) scaleY(1.1);
    border: 1.5px solid white;
    transition: 200ms ease-out;
  }
}

.tree--open-directory {
  margin-bottom: 0.7rem;
  background-color: #888;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.tree--closed-directory {
  background-color: #222;
  color: white;
}

.tree--arrow {
  height: 1.2rem;
  margin-left: 2px;
  margin-right: 5px;
  cursor: default;
}

#highlight--child {
  color: #000;
  background-color: $accentColor;
}

#tree--in-path {
  background-color: darken($accentColor, 50%);
  &:hover {
    color: #000;
    background-color: $accentColor;
    border: none;
  }
}

#resize--tree, #resize--tree-active {
  width: 0.5rem;
  height: 5rem;
  position: absolute;
  bottom: 50%;
  left: calc(35% - 0.3rem);
  background-color: red;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: grab;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  #directorytree--button-showhide {
    top: 0;
    height: 2rem;
    left: 0;
  }
  #resize--tree {
    width: 0.8rem;
  }
}
