@import "../general";

.page-details-view {
  .details-view-buttons-container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .details-view-button {
    @include Buttons;
    box-shadow: none;
    border: 1px solid black;
    font-size: 0.9rem;
    padding: 0;
    padding-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
    position: relative;
    #scaler {
      height: 100%;
      width: 3px;
      position: absolute;
      cursor: ew-resize;
      right: -1.5px;
    }
  }
  .details-metadata {
    margin-left: 0.5rem;
    color: white;
    font-family: akshar;
    font-size: 0.9rem;
    min-width: 4rem;
  }
  .page-item {
    min-height: 1.5rem;
    max-height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      height: 1rem;
    }
    .block-name-container {
      white-space: nowrap;
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 1.5rem;
      max-width: 13rem;
      overflow: hidden;
      white-space: nowrap;
      .block-name {
        white-space: nowrap;
        height: 2rem;
        width: 100%;
        position: absolute;
        overflow: hidden;
      }
    }
  }
}
