@import "../../SCSS\ General/variables";

#navbar--sort-button {
  @include navbarBtn;
  position: absolute;
  right: 5rem;
  top: 0.4rem;
  z-index: 1;
  width: 5rem;
}

#filter--list {
  position: absolute;
  bottom: -20.2rem;
  right: 0;
  height: 20rem;
  width: 20rem;
  margin: 0;
  border-radius: 1px;
  &:hover {
    color: #000;
    border: 1.5px solid black;
  }
}

.filter--list-item {
  cursor: pointer;
  width: 100%;
  height: 20%;
  @include flexStyle(column);
  font-family: "bebas neue";
  font-size: 1.5rem;
  &:hover {
    color: $accentColor;
  }
}

#filter--by-folder-first {
  background-color: #444;
}

#filter--by-folder-second {
  background-color: #666;
}

#filter--by-folder-third {
  background-color: #888;
}
#filter--by-folder-fourth {
  background-color: #aaa;
}
#filter--by-folder-fifth {
  background-color: #ccc;
}

.filter--sublist {
  background-color: #fff;
  position: absolute;
  left: -3.2rem;
  width: 3rem;
  border: 2px solid black;
  color: #000;
  top: 59.5%;
}

#navbar--asc-desc {
  position: absolute;
  right: 10.2rem;
  top: 0.4rem;
  padding: 3px;
  height: 3rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  #navbar--sort-button {
    width: 3rem;
    right: 2rem;
    top: 0;
    font-size: 50%;
    border: 1px solid black;

  }
  #filter--list {
    margin-top: 1.8rem;
    right: 8rem;
    width: 50vw;
    height: 50vh;
  }
  .filter--list-item {
    height: 100%;
    width: 50vw;
  }
  #navbar--asc-desc {
    right: 4rem;
    top: 0;
    font-size: 1rem;
  }
}
