#navbar--sort-button {
  position: absolute;
  right: 5rem;
  top: .4rem;
  z-index: 1;
  font-family: 'bebas neue';
  font-size: 1.3rem;
  width: 5rem;
}

#filter--list {
  position: absolute;
  bottom: -20.2rem;
  right: 0;
  height: 20rem;
  width: 20rem;
  margin: 0;
  border-radius: 1px;
}

#filter--list:hover {
  background-color: black;
  color: #000;
}

.filter--list-item {
  cursor: pointer;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'bebas neue';
  font-size: 1.5rem;
}

.filter--list-item:hover {
  color: red;
}

#filter--by-folder-first {
  background-color: #444;
}

#filter--by-folder-second {
  background-color: #666;
}

#filter--by-folder-third {
  background-color: #888;
}
#filter--by-folder-fourth {
  background-color: #aaa;
}
#filter--by-folder-fifth {
  background-color: #ccc;
}

.filter--sublist {
  background-color: #fff;
  position: absolute;
  left: -3.2rem;
  width: 3rem;
  border: 2px solid black;
  color: #000;
  top: 59.5%;
}

#navbar--asc-desc {
  position: absolute;
  right: 10rem;
  top: .4rem;
  padding: 3px;
  height: 3rem;
  border: 1.5px solid black;
  font-size: 1.4rem;
}

#navbar--asc-desc:hover {
  border: 1.5px solid white;
}
@media screen and (max-width: 768px) {
  #navbar--sort-button {
    width: 3rem;
    margin: 0;
    top: 0;
  }
  #filter--list {
    width: 10rem;
  }
  #navbar--asc-or-desc {
    position: absolute;
    right: 3rem;
    top: 0;
  }
  #navbar--descending,
  #navbar--ascending {
    white-space: nowrap;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #navbar--descending:disabled,
  #navbar--ascending:disabled {
    white-space: nowrap;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}