#navbar--sort-button {
  position: fixed;
  right: 0;
  top: 1rem;
  z-index: 1;
  font-family: 'bebas neue';
  font-size: 1.3rem;
  width: 7rem;
  height: 5rem;
  border-radius: 5px;
}

#filter--list {
  position: absolute;
  bottom: -20.2rem;
  right: 0;
  height: 20rem;
  width: 20rem;
  margin: 0;
  border-radius: 1px;
}

#filter--list:hover {
  background-color: black;
  border: 2px solid black;
  color: #000;
}

.filter--list-item {
  border: 1px solid black;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'bebas neue';
  font-size: 1.5rem;
}

.filter--list-item:hover {
  color: red;
}

#filter--by-folder-first {
  background-color: #444;
}

#filter--by-folder-second {
  background-color: #666;
}

#filter--by-folder-third {
  background-color: #888;
}
#filter--by-folder-fourth {
  background-color: #aaa;
}
#filter--by-folder-fifth {
  background-color: #ccc;
}

.filter--sublist {
  background-color: #fff;
  position: absolute;
  left: -3.2rem;
  width: 3rem;
  border: 2px solid black;
  color: #000;
  top: 59.5%;
}

#navbar--asc-or-desc {
  position: absolute;
  right: 7.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 1rem;
}

#navbar--descending, #navbar--ascending {
  padding: 3px;
  height: 2.5rem;
  width: 7rem;
  border: 2px solid black;
  font-family: 'bebas neue';
  color: #000;
  font-size: 1.4rem;
  background-color: #fff;
  cursor: pointer;
}

#navbar--descending {
  border-radius: 4px 4px 0 0;
}
#navbar--ascending {
  border-radius: 0 0 4px 4px ;
}
#navbar--descending:hover, #navbar--ascending:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

#navbar--descending:disabled, #navbar--ascending:disabled {
  background-color: #444;
  border: 2px solid #222;
  color: #222;
  cursor: default;
  width: 7rem;
}

@media screen and (max-width: 768px) {
  #navbar--sort-button {
    width: 3rem;
    margin: 0;
    top: 0;
  }
  #filter--list {
    width: 10rem;
  }
  #navbar--asc-or-desc {
    position: absolute;
    right: 3rem;
    top: 0;
  }
  #navbar--descending,
  #navbar--ascending {
    white-space: nowrap;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #navbar--descending:disabled,
  #navbar--ascending:disabled {
    white-space: nowrap;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}