#context-menu {
  position: fixed;
  width: 10rem;
  z-index: 1;
  div,
  button {
    height: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "bebas neue";
    width: 100%;
    position: relative;
    border: 1.2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .sub-menu-arrow {
      position: absolute;
      right: 5px;
      font-weight: bold;
    }
    .sort-by-sub-menu {
      position: absolute;
      width: 10rem;
      top: 0;
      left: calc(10rem + 1px);
      button {
        height: 2rem;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &.position-left {
        left: -10rem;
      }
      &.position-top {
        top: -4rem;
      }
      #dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: pink;
        left: 5%;
        position: absolute;
      }
      #line-break {
        height: 2rem;
        width: calc(100% - 1px);
        background-color: black;
        outline: 1px solid white;
      }
    }
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
