@import "./general";

#context-menu {
  position: fixed;
  width: 10rem;
  z-index: 1;
  div,
  button {
    @include Buttons;
    height: 2rem;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 0;
    .sub-menu-arrow {
      position: absolute;
      right: 5px;
    }
    .sort-by-sub-menu {
      position: absolute;
      width: 10rem;
      transform: translateY(calc(100% + 0.475rem));
      left: calc(10rem + 0.5px);
      button {
        height: 2rem;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &.position-left {
        left: -10rem;
      }
      &.position-top {
        top: -4rem;
      }
      #dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: pink;
        left: 5%;
        position: absolute;
      }
      #line-break {
        height: 2rem;
        width: calc(100% - 1px);
        background-color: black;
        outline: 1px solid white;
      }
    }
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
