#context-menu {
  position: fixed;
  width: 10rem;
  z-index: 1;
  div,
  button {
    height: 1.5rem;
    background-color: #777;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "bebas neue";
    &:hover {
      background-color: #999;
      color: black;
    }
  }
  .context-menu-button {
    width: 100%;
    height: 1.5rem;
    position: relative;
    border: 1.1px solid white;
    .sub-menu-arrow {
      position: absolute;
      right: 5px;
      top: -0.9rem;
    }
    .sort-by-sub-menu {
      position: absolute;
      width: 10rem;
      top: 0;
      left: calc(10rem + 1px);
      &.position-left {
        left: -10rem;
      }
      #dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #000;
        margin-top: 0.25rem;
      }
    }
    #line-break {
      height: 1.5rem;
      width: 100%;
      background-color: white;
    }
  }
}
