#custom-title {
  padding: 4px 1rem 4px 4px;
  font-size: 0.8rem;
  color: white;
  background-color: #111111ee;
  border-radius: 1px;
  z-index: 1;
  position: fixed;
  line-height: 1.2rem;
  pointer-events: none;
  max-width: 40rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
  width: max-content;
}
