@import "./general";
@keyframes showTree {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: left;
    transform: scaleX(100%);
  }
}
@keyframes hideTree {
  0% {
    transform-origin: left;
    transform: scaleX(100%);
  }
  100% {
    transform-origin: left;
    transform: scaleX(0%);
    flex: 0 0 0;
  }
}

#directory-tree-hide {
  animation: hideTree 100ms ease-in-out forwards !important;
}

#directory-tree-show,
#directory-tree-hide {
  z-index: 1;
  height: calc(100vh - 9rem);
  top: 2rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 6rem;
  flex: 0 0 20%;
  overflow-y: auto;
  overflow-x: hidden;
  animation: showTree 100ms ease-in-out;
  &.directory-tree-dark-mode {
    background-color: #080808;
    * {
      color: white;
      font-family: mukta;
    }
  }
  &.directory-tree-light-mode {
    background-color: #eee;
  }
  &.directory-tree-sky-blue {
    background-color: #456c7c;
  }
  .child-directories-container {
    left: 1rem;
    position: relative;
    * {
      font-family: mukta;
    }
    .line-down {
      position: absolute;
      left: 0.3rem;
      top: 1.75rem;
      height: calc(100% - 1.75rem);
      width: 0.5rem;
      background-size: 100%;
      border-radius: 40%;
      &.line-dark-mode {
        background: linear-gradient(
          to right,
          #00000000 45%,
          white 48%,
          white 52%,
          #00000000 56%
        );
        &:hover {
          cursor: pointer;
          background: linear-gradient(
            to right,
            #00000000 35%,
            white 36%,
            white 64%,
            #00000000 65%
          );
        }
      }
      &.line-light-mode {
        background: linear-gradient(
          to right,
          #00000000 45%,
          black 47%,
          black 53%,
          #00000000 56%
        );
        &:hover {
          cursor: pointer;
          background: linear-gradient(
            to right,
            #00000000 35%,
            black 36%,
            black 64%,
            #00000000 65%
          );
        }
      }
    }
    .collapsed {
      display: none;
      left: 0;
    }
    .parent-directory,
    .child-directory,
    .parent-directory-collapsed {
      position: relative;
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-block: 0.15rem;
      background-color: #00000000;
      white-space: nowrap;
      overflow: hidden;
      border: none;
      width: 100%;
      cursor: pointer;
      &.compact-tree {
        margin-block: 0.05rem;
        height: 1.4rem;
      }
      &.no-permission {
        background-color: #441111;
        color: red;
        cursor: not-allowed;
        &:hover {
          background-color: #441111;
        }
      }
      &#current-directory-dark-mode {
        background-color: #ccc;
        &:hover {
          background-color: #fff;
          transition: all 50ms ease-in;
        }
        * {
          color: black;
          font-weight: bold;
        }
      }
      &.parent-directory-dark-mode {
        background-color: #222;
        &:hover {
          background-color: #333;
          transition: all 50ms ease-in;
        }
      }
      &.child-directory-dark-mode:hover {
        background-color: #222;
        transition: all 50ms ease-in;
      }
      &#current-directory-light-mode {
        background-color: #111;
        &:hover {
          background-color: black;
        }
        * {
          color: white;
          font-weight: bold;
        }
      }
      &.parent-directory-light-mode {
        background-color: #999;
        &:hover {
          background-color: #888;
          transition: all 50ms ease-in;
        }
      }
      &.child-directory-light-mode:hover {
        background-color: #999;
        transition: all 50ms ease-in;
      }
      &#current-directory-sky-blue {
        background-color: rgb(0, 0, 25);
        * {
          color: white;
          font-weight: bold;
        }
      }
      &.parent-directory-sky-blue {
        background-color: darken(#006d99, 20%);
        * {
          color: white;
        }
        &:hover {
          background-color: darken(#006d99, 10%);
          transition: all 50ms ease-in;
        }
      }
      &.child-directory-sky-blue:hover {
        background-color: darken(#006d99, 20%);
        * {
          color: white;
        }
        transition: all 50ms ease-in;
      }
      .directory-name {
        outline: none;
        pointer-events: none;
        font-size: 1rem;
        @include Text;
      }
      .expand-directory {
        cursor: default;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1rem;
        height: 1.3rem;
        right: 0.3rem;
        @include Text;
        &.rotate-arrow {
          transform: rotate(90deg);
        }
      }
    }
    .child-directory {
      display: flex;
      flex-direction: row;
      left: 1rem;
    }
  }
}
