body {
  margin: 0;
  user-select: none;
  overflow: hidden;
  &.dark-mode {
    background-color: #222;
  }
  &.light-mode {
    background-color: #ccc;
  }
}

#root {
  display: flex;
  justify-content: center;
}

*::selection {
  background-color: rebeccapurple;
}

.dark-mode {
  *::-webkit-scrollbar {
    width: 0.75rem;
  }

  *::-webkit-scrollbar-track {
    background: #111117;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #fffff0;
    border-radius: 0.2rem;
  }
}

.light-mode {
  *::-webkit-scrollbar {
    width: 0.75rem;
  }
  *::-webkit-scrollbar-track {
    background: #fffff7;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #111117;
  }
}

@mixin Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #777;
  border: none;
  box-shadow: 1px 1px 5px black;
  font-family: "mukta";
  font-weight: bold;
  &:hover {
    background-color: #444;
    color: white;
  }
  &:disabled {
    color: grey !important;
    background-color: darkgrey !important;
    border: grey !important;
    cursor: not-allowed !important;
  }
}

@mixin Text {
  &.text-dark-mode {
    color: white;
  }
  &.text-light-mode {
    font-weight: bold;
    color: black;
  }
}

// font-family: "Bebas Neue";
// font-family: "Roboto Slab";
// font-family: "PT Serif";
// font-family: "Bitter";
// font-family: "Lato";
// font-family: "Akshar";
// font-family: "Jakarta";
// font-family: "Roboto Flex";
// font-family: "Oswald";
// font-family: "Merriweather";
// font-family: "Mukta";
