body {
  margin: 0;
  background-color: #222;
  user-select: none;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

*::selection {
  background-color: rebeccapurple;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border: 3px solid white;
}

// font-family: "Bebas Neue";
// font-family: "Roboto Slab";
// font-family: "PT Serif";
// font-family: "Bitter";
// font-family: "Lato";
// font-family: "Akshar";
// font-family: "Jakarta";
// font-family: "Roboto Flex";
// font-family: "Oswald";
// font-family: "Merriweather";
// font-family: "Mukta";
