body {
  margin: 0;
  user-select: none;
  overflow: hidden;
  &.dark-mode {
    background-color: #222;
  }
  &.light-mode {
    background-color: #ccc;
  }
}

#root {
  display: flex;
  justify-content: center;
}

*::selection {
  background-color: rebeccapurple;
}

.dark-mode {
  *::-webkit-scrollbar {
    width: 0.75rem;
  }

  *::-webkit-scrollbar-track {
    background: #111117;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #fffff0;
  }
}

.light-mode {
  *::-webkit-scrollbar {
    width: 0.75rem;
  }

  *::-webkit-scrollbar-track {
    background: #fffff7;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #111117;
  }
}

@mixin Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  &.button-dark-mode {
    background-color: #090909;
    color: white;
    border: 1px solid white;
    &:hover {
      background-color: white;
      color: #090909;
      border: 1px solid #090909;
    }
  }
  &.button-light-mode {
    background-color: #777;
    color: black;
    border: 1px solid black;
    &:hover {
      background-color: #444;
      color: white;
      border: 1px solid white;
    }
  }
  &:disabled {
    color: grey !important;
    background-color: darkgrey !important;
    border: grey !important;
    cursor: not-allowed !important;
  }
}

@mixin Text {
  &.text-dark-mode {
    color: white;
  }
  &.text-light-mode {
    font-weight: bold;
    color: black;
  }
}
