#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2rem;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #101010;
  z-index: 3;
  button {
    background-color: black;
    color: white;
    margin-left: 2px;
    height: 80%;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &:hover {
      color: black;
      background-color: #fff;
    }
    &:disabled {
      background-color: #999;
      color: #555;
      border: #555;
      cursor: not-allowed;
    }
  }
  #toggle-directory-tree {
    width: 6rem;
  }
  #navbar-navigation {
    margin-inline: 1rem;
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    button {
      width: 3rem;
      img {
        pointer-events: none;
        height: 80%;
      }
      #left-arrow {
        transform: rotate(270deg);
      }
      #right-arrow {
        cursor: copy;
        transform: rotate(90deg);
      }
    }
  }
  #current-directory {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .arrow-and-name-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      position: relative;
    }
    .sub-directories {
      position: absolute;
      width: max-content;
      bottom: 0;
      transform: translateY(100%);
      button {
        justify-content: start;
        width: 100%;
      }
    }
    img {
      height: 50%;
      background-color: black;
      padding: 4.5px;
      &:hover {
        background-color: white;
      }
    }
  }
}
