@import "./general";

#display-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: calc(100vh - 3rem);
  top: 2rem;
  align-content: flex-start;
  padding: 0.2rem 0.2rem 2rem 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  &.page-dark-mode {
    box-shadow: inset 4rem 4rem 20rem #111;
    background-color: #222;
    .display-page-block {
      &:hover,
      &.selected {
        background-color: #111;
      }
      &.alternate {
        background-color: #333;
        outline: 1px solid white;
      }
    }
  }
  &.page-light-mode {
    box-shadow: inset 4rem 4rem 20rem #eee;
    background-color: #ccc;
    .display-page-block {
      &:hover,
      &.selected {
        background-color: #fff;
      }
      &.alternate {
        background-color: #eee;
      }
    }
  }
  #empty-directory-header,
  #does-not-exist-error {
    margin-inline: auto;
    font-size: 4rem;
    font-family: merriweather;
    color: #777;
    pointer-events: none;
  }
  .display-page-block {
    width: 12rem;
    height: min-content;
    min-height: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.3rem;
    cursor: default;
    padding-top: 0.8rem;
    &.compact-page {
      margin: 0.05rem;
      padding-top: 5px;
      .media-container {
        margin-bottom: 0;
      }
    }
    &.single-click {
      cursor: pointer;
    }
    * {
      pointer-events: none;
    }
    .media-container {
      margin-top: auto;
      position: relative;
      height: min-content;
      max-width: 90%;
      margin-bottom: 0.5rem;
      .media-thumbnail {
        max-width: 100%;
        box-shadow: 2px 2px 0.3rem black;
      }
      .duration {
        position: absolute;
        right: 0;
        bottom: 3.5px;
        background-color: black;
        color: white;
        font-size: 0.85rem;
        padding-inline: 3px;
        font-family: "akshar";
        pointer-events: all;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .block-name-container {
      color: #00000000;
      background-color: #00000000;
      font-size: 0.9rem;
      width: 95%;
      font-family: akshar;
      margin-top: auto;
      word-wrap: break-word;
      text-align: center;
      position: relative;
      @include Text;
      .block-name {
        @include Text;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        resize: none;
        background-color: #00000000;
        text-align: center;
        color: white;
        font-size: 0.9rem;
        outline: none;
        border: none;
        font-family: akshar;
        &:disabled {
          pointer-events: none;
        }
        &:enabled {
          cursor: text;
          pointer-events: all;
        }
      }
    }
  }
  #corner-message-container {
    pointer-events: none;
    height: 99.5%;
    min-width: 5rem;
    position: fixed;
    top: 2rem;
    h1 {
      font-family: "mukta";
      font-size: 1rem;
      background-color: #111;
      color: white;
      padding: 0.2rem;
      width: max-content;
      pointer-events: all;
      position: absolute;
      &:hover {
        opacity: 0.3;
      }
    }
    #directory-items-count {
      border-top-right-radius: 0.5rem;
      transform: translateY(-50%);
      bottom: -3px;
      left: -0.2rem;
    }
  }
}
