@import "./general";

#display-page {
  display: flex;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 4rem);
  top: 2rem;
  align-content: flex-start;
  padding: 0.2rem 0.2rem 2rem 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  &.page-dark-mode {
    box-shadow: inset 4rem 4rem 20rem #111;
    background-color: #222;
  }
  &.page-light-mode {
    box-shadow: inset 4rem 4rem 20rem #eee;
    background-color: #ccc;
  }
  &.page-sky-blue {
    background-color: #87ceeb99;
  }
  #empty-directory-header,
  #does-not-exist-error {
    margin-inline: auto;
    font-size: 4rem;
    font-family: merriweather;
    color: #777;
    pointer-events: none;
  }
  &.page-content-view {
    display: flex;
    flex-direction: column;
    .page-item {
      margin-block: 0.1rem;
      min-height: 3rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-content: center;
      position: relative;
      svg {
        height: 3rem;
        width: 2.4rem;
      }
      .block-name-container {
        width: max-content;
        max-width: 15rem;
        white-space: nowrap;
        height: 3rem;
        font-size: 1rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 3rem;
        .block-name {
          font-size: 1rem;
          white-space: nowrap;
          height: 3rem;
          padding-top: 2rem;
          width: 100%;
          position: absolute;
          overflow: hidden;
        }
      }
      .information-container {
        position: absolute;
        left: 35rem;
        color: white;
        font-family: akshar;
        * {
          margin-block: 0.2rem;
        }
      }
      .metadata-container {
        position: relative;
        left: 20rem;
        height: 3rem;
        max-width: 10rem;
        .dimensions,
        .type {
          font-family: akshar;
          color: white;
          margin-block: 0.1rem;
        }
      }
      .date {
        width: max-content;
      }
      .media-container {
        height: 3rem;
        width: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0.1rem;
        .media-thumbnail {
          max-height: 2.7rem;
          max-width: 2.7rem;
        }
      }
      .duration {
        display: none;
      }
    }
  }
  &.page-icon-view {
    flex-wrap: wrap;
    .page-item {
      width: 12rem;
      height: min-content;
      min-height: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.3rem;
      padding-top: 0.8rem;
      border-radius: 2px;
      .media-container {
        margin-top: auto;
        position: relative;
        max-width: 90%;
        margin-bottom: 0.5rem;
        .media-thumbnail {
          max-width: 100%;
          box-shadow: 2px 2px 0.3rem black;
        }
        .duration {
          position: absolute;
          right: 0;
          bottom: 3.5px;
          background-color: black;
          color: white;
          font-size: 0.85rem;
          padding-inline: 3px;
          font-family: "akshar";
          pointer-events: all;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .block-name-container {
        margin-top: auto;
        word-wrap: break-word;
        width: 95%;
        font-size: 0.9rem;
        position: relative;
        .block-name {
          position: absolute;
          left: 0;
          font-size: 0.9rem;
          bottom: 0;
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }
    }
  }
  .page-item {
    &:hover,
    &.selected {
      background-color: #ffc0cb99;
    }
    &.alternate {
      background-color: #ffc0cb66;
    }
    &.no-permission {
      cursor: not-allowed;
      background-color: #ff444488 !important;
      outline: 1px solid red !important;
      &:hover {
        background-color: #ff444488;
      }
    }
    &.compacted-block {
      margin: 0.05rem;
      padding-top: 5px;
      .media-container {
        margin-bottom: 0;
        max-width: 95%;
      }
    }
    &.single-click {
      cursor: pointer;
    }
    * {
      pointer-events: none;
    }
    .media-container {
      .duration {
        background-color: black;
        color: white;
        font-size: 0.85rem;
        font-family: "akshar";
        pointer-events: all;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .block-name-container {
      color: #00000000;
      background-color: #00000000;
      font-family: akshar;
      @include Text;
      .block-name {
        @include Text;
        resize: none;
        background-color: #00000000;
        color: white;
        outline: none;
        border: none;
        font-family: akshar;
        &:disabled {
          pointer-events: none;
        }
        &:enabled {
          cursor: text;
          pointer-events: all;
          width: max-content;
        }
      }
    }
  }
}
