@import '../SCSS\ General/variables.scss';

#scrollbar--body {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  @include flexStyle(column);
}

#scrollbar--track {
  background-color: rgb(255, 0, 0);
  height: 100%;
  width: 100%;
}

#scrollbar--piece {
  background-color: grey;
  position: absolute;
  width: 100%;
  &:hover {
    background-color: #666666;
  }
}

#arrow--up, #arrow--down {
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  @include flexStyle(row);
  position: sticky;
  z-index: 1;
}

#arrow--up img, #arrow--down img {
  max-width: 50%;
}
#arrow--up {
  top: 0;
}
#arrow--down {
  bottom: 0;
}
@media screen and (min-width: 1000px) {
  #scrollbar--body {
    max-width: 4rem;
  }
}