.custom-scrollbars__container {
  border: 1px solid #333;
  border-radius: 12px;
  display: grid;
  height: 100%;
  grid-template: auto / 1fr 50px;
  overflow: hidden;
  position: relative;
}

#scrollbar--track {
  background-color: rgb(255, 0, 0);
  height: 100%;
  width: 100%;
}

#scrollbar--piece {
  background-color: grey;
  position: absolute;
  width: 100%;
  &:hover {
    background-color: #666666;
  }
}

#arrow--up, #arrow--down {
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  @include flexStyle(row);
  position: sticky;
  z-index: 1;
}

.custom-scrollbars__track-and-thumb {
  display: block;
  height: 100%;
  position: relative;
  width: 16px;
}
#arrow--up {
  top: 0;
}
#arrow--down {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 16px;
}

.custom-scrollbars__thumb {
  border-radius: 12px;
  background-color: #333;
  position: absolute;
  width: 16px;
}
