@import "../../Main/MainSCSS/variables";

@keyframes animated_text {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
#file-properties {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  max-width: 80%;
  max-height: 60%;
  padding-block: 2rem;
  border-radius: 3%;
  background-color: black;
  border: 2px solid $accentColor;
  color: white;
  z-index: 10;
  @include flexStyle(column);
  min-height: 30rem;
  justify-content: space-between;
  div {
    font-family: "akshar";
    font-size: 1.15rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
    p {
      font-family: "akshar";
      font-size: 1.15rem;
    }
    #loading {
      height: 70%;
      left: 5ch;
      width: auto;
      animation: animated_text 3s linear infinite;
      -moz-animation: animated_text 3s linear infinite;
      -webkit-animation: animated_text 3s linear infinite;
    }
  }
  img {
    cursor: pointer;
    color: white;
    background-color: #00000000;
    font-family: lato;
    position: absolute;
    top: 2%;
    right: 1.5%;
    width: 1rem;
    border: none;
    &:hover {
      transform: scale(1.1);
      transition: 100ms ease-out transform;
    }
  }
}
