@import "../../Main/MainSCSS/variables.scss";

@keyframes hoverDirs {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1.03) scaleY(1.05);
  }
}

.opendirectory--list {
  $var: 0;

  @for $i from 0 through 15 {
    &:nth-child(#{$i}) {
      margin-left: #{$var * 7}px;
      $var: $var + 1;
    }
  }
}

#directorytree--button-showhide {
  @include navbarBtn;
  position: absolute;
  z-index: 10;
  top: 0;
  height: 2.5rem;
  width: 5rem;
  left: 5px;
  max-width: 10%;
  font-size: 1.1em;
}
@keyframes rollDown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
@keyframes rollUp {
  0% {
    transform: scaleY(1);
    transform-origin: top;
  }
  100% {
    transform: scaleY(0);
    transform-origin: top;
  }
}
#directorytree--body {
  z-index: 1;
  height: calc(100vh - 2.5rem);
  top: 1.5rem;
  flex: 0 0 25rem;
  background-color: #000;
  position: relative;
  padding: 1rem;
  padding-bottom: 6rem;
  overflow-y: auto;
  overflow-x: auto;
  .tree--expanded-chunk {
    position: relative;
    .opendirectory--list {
      animation: rollDown 200ms ease-in forwards;
      &.hide {
        animation: rollUp 200ms ease-in forwards;
      }
    }
    .tree--open-directory,
    .tree--closed-directory {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 5px;
      height: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
      font-family: "roboto slab";
      border-radius: 3px;
      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        transform: scaleX(1.01) scaleY(1.1);
        border: 1.5px solid white;
        transition: 200ms ease-out;
      }
      .directory--icon {
        width: 1.1em;
        margin-right: 5px;
      }
      @keyframes hideRotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-90deg);
        }
      }
      @keyframes showRotate {
        0% {
          transform: rotate(-90deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      .tree--arrow {
        height: 1.2rem;
        margin-left: 2px;
        margin-right: 5px;
        cursor: default;
        animation: showRotate linear 200ms forwards;
        &.hide {
          animation: hideRotate linear 200ms forwards;
        }
      }
    }
    .tree--open-directory {
      background-color: #888;
      color: black;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: -0.2px;
    }
    #highlight--child {
      background-color: $accentColor;
      color: #000;
    }
    #tree--in-path {
      background-color: darken($accentColor, 50%);
      &:hover {
        color: #000;
        background-color: $accentColor;
        border: none;
      }
    }
    .tree--closed-directory {
      background-color: #222;
      color: white;
      &.no-permission {
        background-color: #cc7878c5;
        border: 2px solid red;
        cursor: not-allowed;
        transform: none;
        color: white;
      }
    }
  }
  .line--down {
    position: absolute;
    margin-top: 2.5rem;
    left: 0;
    top: 0;
    height: calc(100% - 2.5rem);
    width: 0.5rem;
    background: linear-gradient(
      to right,
      #00000000 45%,
      white 46%,
      white 54%,
      #00000000 56%
    );
    background-size: 100%;
    border-radius: 40%;
    &:hover {
      cursor: pointer;
      background: linear-gradient(
        to right,
        #00000000 35%,
        $accentColor 36%,
        $accentColor 64%,
        #00000000 65%
      );
    }
  }
}
