@import "../../Main/MainSCSS/variables.scss";

@keyframes hideRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes showRotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rollDown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
@keyframes rollUp {
  0% {
    max-height: 200rem;
    transform: scaleY(1);
    transform-origin: top;
  }
  100% {
    transform: scaleY(0);
    transform-origin: top;
    height: 0;
  }
}
.opendirectory--list {
  $var: 0;

  @for $i from 0 through 15 {
    &:nth-child(#{$i}) {
      margin-left: #{$var * 7}px;
      $var: $var + 1;
    }
  }
}

#directorytree--button-showhide {
  @include navbarBtn;
  position: absolute;
  z-index: 10;
  top: 0;
  height: 2.5rem;
  width: 5rem;
  left: 5px;
  max-width: 10%;
  font-size: 1.1em;
}
#directorytree--body {
  z-index: 1;
  height: calc(100vh - 5.5rem);
  top: 1.5rem;
  position: relative;
  padding: 1rem;
  padding-bottom: 6rem;
  overflow-y: auto;
  overflow-x: auto;
  flex: 0 0 30rem;
  .tree--expanded-chunk {
    position: relative;
    .tree--open-directory,
    .tree--closed-directory,
    .tree--file {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 5px;
      height: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 2px;
      font-family: akshar;
      border-radius: 3px;
      letter-spacing: 0.2px;
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
        background-color: #111;
        color: white;
        transform: scaleX(1.005) scaleY(1.06);
        outline: 1px solid white;
      }
      .side--icon {
        width: 1.1em;
        margin-right: 5px;
      }
      .tree--arrow {
        height: 1rem;
        margin-right: 5px;
        cursor: default;
        position: relative;
        height: 100%;
        left: -4px;
        padding: 2px;
        padding-left: 4px;
        animation: showRotate linear 200ms forwards;
        &.rotate-me {
          animation: hideRotate linear 200ms forwards;
        }
      }
    }
    .tree--open-directory {
      background-color: #111;
      color: white;
      &:hover {
        background-color: #444;
      }
    }
    .tree--closed-directory,
    .tree--file {
      background-color: #222;
      color: white;
      &.no-permission {
        background-color: #ba5555;
        border: 1.2px solid #f00;
        cursor: not-allowed;
        transform: none;
        color: white;
        outline: none;
      }
    }
    #highlight--child {
      background-color: $accentColor;
      color: #000;
      font-weight: bold;
      &:hover {
        outline: 1px solid black;
      }
    }
    #tree--in-path {
      background-color: darken($accentColor, 60%);
      color: white;
      font-weight: normal;
      &:hover {
        background-color: darken($accentColor, 65%);
      }
    }
  }
  .opendirectory--list {
    animation: rollDown 200ms ease-in forwards;
    &.hide-me {
      animation: rollUp 200ms ease-in forwards;
    }
  }
  .line--down {
    position: absolute;
    margin-top: 1.75rem;
    left: 0;
    top: 0;
    height: calc(100% - 2rem);
    width: 0.5rem;
    background: linear-gradient(
      to right,
      #00000000 45%,
      white 46%,
      white 54%,
      #00000000 56%
    );
    background-size: 100%;
    border-radius: 40%;
    &:hover {
      cursor: pointer;
      background: linear-gradient(
        to right,
        #00000000 35%,
        $accentColor 36%,
        $accentColor 64%,
        #00000000 65%
      );
    }
  }
}
