@import "../../Main/MainSCSS/variables.scss";

@keyframes loadDisplay {
  0% {
    position: absolute;
    opacity: 0.4;
    transform: scale(0);
  }
  100% {
    position: absolute;
    opacity: 1;
    transform: scale(1);
  }
}

.viewitem--block {
  @include flexStyle(column);
  position: fixed;
  left: 0;
  background-color: #0f0f0ff9;
  @include maxSize;
  top: 0;
  z-index: 25;
  .viewitem--item {
    height: $fullscreenHeight;
    width: $fullscreenWidth;
    object-fit: contain;
    max-width: 95%;
    max-height: 95%;
    animation: loadDisplay ease-out 500ms;
  }
}

#image-fullscreen {
  @include maxSize;
  background-color: black;
}