@import "../../Main/MainSCSS/variables.scss";

@keyframes message {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#document--body {
  background-color: #101010fe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 4rem;
  #document--header {
    position: relative;
    height: 4rem;
    top: 1.5rem;
    z-index: 5;
    padding: 5px;
    margin-bottom: 1rem;
    width: 100%;
    @include flexStyle(row);
    button {
      padding: 5px;
      border: none;
      margin-inline: 5px;
      font-family: "roboto slab";
      letter-spacing: 1px;
      position: relative;
      cursor: pointer;
      color: black;
      height: 100%;
      background-color: white;
      &:hover {
        background-color: #222;
        color: white;
        transition: all 200ms ease-in-out;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: grey;
        color: #999;
      }
    }
    #font-styling-container {
      .fonts-list {
        background-color: #222;
        border: 2px solid white;
        color: white;
        width: max-content;
        padding-inline: 1rem;
        position: absolute;
        left: 0rem;
        bottom: -20rem;
        z-index: 1;
        list-style: none;
        height: 20rem;
        overflow-y: scroll;
        li {
          height: 2rem;
          border-bottom: 2px solid white;
          cursor: pointer;
          margin-bottom: 2px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  #document {
    margin-top: 2rem;
    height: 90%;
    min-height: 90vh;
    width: auto;
    aspect-ratio: 210/297;
    cursor: default;
    position: relative;
    background-color: #222;
    @include flexStyle(row);
    .document-page {
      cursor: text;
      position: absolute;
      width: 90%;
      height: 90%;
      margin: auto;
      background-color: #222;
      overflow-y: auto;
      word-wrap: break-word;
      color: white;
      letter-spacing: 0.3px;
      font-family: akshar;
      resize: none;
      border: none;
      outline: none;
      &::selection {
        background-color: #ac4df666;
        color: white;
      }
    }
  }
}

#document--message {
  font: {
    family: "bebas neue";
    size: 2rem;
  }
  color: black;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
  bottom: 3%;
  width: 35%;
  max-width: 40rem;
  cursor: pointer;
  height: 15%;
  max-height: 10rem;
  @include flexStyle(row);
  animation: 4s forwards ease-in-out message;
  background: repeating-radial-gradient(
    $accentColor 0%,
    $accentColor 30%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}
