@import "../../Main/MainSCSS/variables";

@keyframes headerAndControls {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes minifyPlayer {
  0% {
    position: fixed;
    transform: scale(auto);
  }
  100% {
    transform: scale(1);
  }
}

#video-container {
  @include flexStyle(column);
  position: relative;
  animation: none;
  #viewitem--video {
    @include maxSize;
  }
}

#video-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: red;
  background: linear-gradient(
    180deg,
    black 0%,
    black 80%,
    rgba(0, 0, 0, 0) 99%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  transform-origin: top;
  animation: headerAndControls 150ms forwards;
  text {
    font-size: 0.65rem;
  }
}

#video-header-filename {
  font-family: "akshar";
  text-anchor: middle;
}

#video-controls-container {
  background: linear-gradient(
    0deg,
    black 0%,
    black 70%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 20%;
  max-height: 8rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform-origin: bottom;
  animation: headerAndControls 150ms forwards;
  #controls {
    position: absolute;
    bottom: 15%;
    width: 100%;
    @include flexStyle(row);
    #left-side-controls {
      @include flexStyle(row);
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 1.3%;
      width: 50%;
      max-width: 25rem;
      #volume-container {
        position: relative;
        height: 2.2rem;
        width: 2.2rem;
        @include flexStyle(row);
        &:focus-within,
        &:hover {
          #volume-slider {
            position: absolute;
            width: 10rem;
            right: -10.3rem;
            transform: scaleX(1);
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
        #volume-control {
          background-color: #00000000;
          outline: none;
          border: none;
          @include maxSize;
          img {
            @include maxSize;
          }
        }
        #volume-slider {
          -webkit-appearance: none;
          position: absolute;
          width: 10rem;
          height: 2rem;
          right: -10.3rem;
          outline: none;
          transform-origin: left;
          transform: scaleX(0);
          transition: width 150ms ease-in-out, transform 150ms ease-in-out;
          cursor: pointer;
          background: linear-gradient(
            0deg,
            #00000000 35%,
            white 36%,
            white 64%,
            #00000000 65%
          );
          &:hover {
            &::before {
              background-color: red;
            }
          }
          &::-moz-range-thumb {
            width: 10px;
            height: 0.7rem;
            background: darken($accentColor, 50%);
            cursor: pointer;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 0.7rem;
            background: darken($accentColor, 50%);
            cursor: pointer;
          }
        }
      }
      #duration-container {
        height: 2rem;
        width: 12rem;
        max-width: 40%;
        text {
          color: #fff;
          font-family: "roboto slab";
          font-size: 1rem;
        }
      }
    }
    #right-side-controls {
      position: absolute;
      right: 1.3%;
      width: 10%;
      max-width: 5rem;
      #mini-player-button {
        position: absolute;
        right: 100%;
        bottom: 0;
        @include flexStyle(row);
        img {
          height: 140%;
          width: 140%;
          position: absolute;
        }
      }
      #full-screen-control {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  #timeline-container {
    position: absolute;
    top: 40%;
    width: 98%;
    margin-inline: 1%;
    height: 7%;
    cursor: pointer;
    display: flex;
    align-items: center;
    #timeline {
      background-color: rgba(100, 100, 100, 1);
      height: 50%;
      width: 100%;
      position: relative;
      &:hover {
        transform: scaleY(1.3);
        transition: 150ms linear;
        background-color: rgba(150, 150, 150, 1);
        &::after {
          background-color: darken($accentColor, 20%);
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        right: calc(100% - var(--progress-position) * 100%);
        background-color: $accentColor;
      }
    }
  }
}

.control--button {
  height: 2rem;
  width: 2rem;
  background: none;
  border: none;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.85;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: transform 100ms ease-out, opacity 100ms;
      cursor: pointer;
    }
  }
}

.mini-player-body {
  background-color: #00000000;
  width: auto;
  height: auto;
  animation: minifyPlayer forwards linear 1500ms;
  #left-side-controls {
    width: 45% !important;
    @include flexStyle(row);
    bottom: -7.5px !important;
    #duration-container {
      width: 100% !important;
    }
  }
  .control--button {
    height: 1.3rem !important;
    width: 1.3rem !important;
  }
  #mini-player-button {
    img {
      width: 130% !important;
      height: 130% !important;
    }
  }
  .viewitem--item {
    max-height: 100%;
    max-width: 100%;
  }
  .mini-player {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1;
  }
}
