@keyframes hoverDirs {
  0% {
    transform: scaleX(1)scaleY(1);
  }
  100% {
    transform: scaleX(1.03)scaleY(1.1);
  }
}

#directorytree--button-showhide  {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  text-align: center;
  height: 3rem;
  width: 5rem;
  left: 5px;
}

#directorytree--body {
  z-index: 1;
  cursor: default;
  height: calc(var(--screen-height) - 4rem);
  width: 35vw;
  background-color: #111;
  position: fixed;
  left: -5px;
  top: 4rem;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-right: 5px;
}

.tree--expanded-chunk {
  position: relative;
  width: 100%;
}

.line--down {
  position: absolute;
  margin-top: 2rem;
  left: 0;
  top: 0;
  height: calc(100% - 2rem);
  background-color: #fff;
  width: 1px;
}

.folder--icon {
  width: 1.3rem;
  margin-right: 5px;
}

.tree--open-directory, .tree--closed-directory {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  height: 1.5rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-family: 'roboto slab';
}

.tree--open-directory {
  background-color: #888;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  border-radius: 3px 0.7rem 3px 0.7rem;
}

.tree--closed-directory {
  border-radius: 3px;
  background-color: #222;
  color: white;
}

.tree--arrow {
  height: 1.2rem;
  margin-left: 2px;
  margin-right: 5px;
  cursor: default;
}

#highlight--child {
  background-color: #abcdef;
}

#highlight--parent {
  background-color: #fe8cba;
}

.tree--closed-directory:hover, .tree--open-directory:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1.5px solid white;
  animation: hoverDirs 100ms forwards ease-out;
}