@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font: 1rem "Times New Roman";
  margin: 0;
  padding: 0;
}

#directory-and-item-container {
  display: flex;
  flex-direction: row;
  #split-main-page {
    height: 91vh;
    position: relative;
    top: 2vh;
    flex: 0 0 0.5rem;
    margin: 0.5rem;
    background: linear-gradient(
      90deg,
      #00000000 0%,
      #00000000 30%,
      #aaa 50%,
      #00000000 70%,
      #00000000 100%
    );
    border-radius: 40%;
  }
}

html,
body {
  background: #333;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

:root {
  --screen-width: 100vw;
  --screen-height: 100vh;
}

#drag-count {
  opacity: 1 !important;
  right: calc(50% - 0.75rem);
  position: absolute;
  top: -1.5rem;
  height: 1.5rem;
  @include flexStyle(row);
  aspect-ratio: 1;
  padding: 5px;
  padding-top: 8px;
  border-radius: 5px;
  font-family: "bebas neue";
  background-color: #fff;
  font-size: 1.2rem;
}
