@import "./variables.scss";

#navbar--component {
  @include flexStyle(row);
  width: $fullscreenWidth;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(16, 16, 16);
  height: 2.5rem;
  width: 100%;
  #current-time {
    color: white;
    font-family: "bebas neue";
    font-size: 1.2rem;
  }
  #navbar--dir-info {
    cursor: default;
    background-color: white;
    position: absolute;
    top: 2.5rem;
    @include flexStyle(row);
    justify-content: space-between;
    overflow: scroll;
    padding-inline: 0.5rem;
    width: 100%;
    height: 1.5rem;
    scrollbar-width: none;
    overflow: hidden;
    h1 {
      overflow: hidden;
      font-family: Bitter;
      font-weight: bold;
      font-size: 1.1em;
      max-width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.navbar--button {
  @include navbarBtn;
  background-color: #00000000;
  border: none;
}
