$fullscreenWidth: 100vw;
$fullscreenHeight: 100vh;
$accentColor: #d6fd92;

@mixin navbarBtn {
  color: white;
  opacity: 0.9;
  font-size: 1.3em;
  font-family: "bebas neue";
  width: 3rem;
  height: 3rem;
  max-width: 10%;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 100ms transform, opacity 100ms;
  }
  &:disabled {
    color: #222;
    cursor: not-allowed;
    transform: scale(1);
    opacity: 0.3;
  }
}

@mixin flexStyle($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
