
@keyframes focusImage {
  0% {
      opacity: 0;
      transform: scale(40%);
  }
  100% {
      opacity: 1;
      transform: scale(100%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100vh);
  } 100% {
    transform: translateY((10vh));
  }
}

#viewitem--block {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0ff4;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
}

#viewitem--item {
  animation: focusImage forwards ease-out 500ms;
  max-width: 96%;
  max-height: 96%;
}

#viewitem--document {
  text-align: left;
  font-size: 2rem;
  color: white;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap; 
  margin: 1rem;         
}

#viewitem--block-document {
  position: absolute;
  z-index: 2;
  background-color: #101010fe;
  width: 100%;
  min-height: 100%;
  height: max-content;
  animation: moveUp forwards linear 600ms;
}

.viewitem--close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  color: white;
  background-color: #00000000;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 3;
}

#viewitem--filename {
  position: absolute;
  top: 0;
  font-size: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: default;
  background-color: #383844;
  z-index: 2;
  height: 6rem;
}