#navbar--container, #navbar--component {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #444444;
  border-bottom: 5px solid #000;
  height: 7rem;
}

#navbar--navigation {
  display: flex;
  flex-direction: row;
}

#navbar--navigation > * {
  font-size: 1.3rem;
}

.navbar--button {
  width: 3rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #000;
  background-color: #fff;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lato;
}

.navbar--button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

.navbar--button:disabled {
  background-color: #888888;
  color: #444444;
  border: 2px solid #666;
  cursor: default;
}
