@import '../SCSS\ General/variables';

#navbar--component {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $fullscreenWidth;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #111;
  height: 4rem;
}

#navbar--navigation {
  @include flexStyle(row);
  position: absolute;
  left: 6rem;
  max-width: 30%;
}

#navbar--navigation button {
  @include flexStyle(row);
  max-width: none;
}

.navbar--button img {
  max-width: 50%;
}
.navbar--button {
  @include navbarBtn;
}

#reload--icon {
  position: absolute;
  padding: 0.5rem;
  right: 1rem;
}

#navbar--current-directory-header {
  cursor: default;
  background-color: $accentColor;
  position: sticky;
  top: 4rem;
  @include flexStyle(column);
  align-items: flex-start;
  padding-left: 0.5rem;
  font-size: 1.1em;
  text-align: left;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100vw;
  font-family: Bitter;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  #navbar--component {
    height: 2rem;
  }
  .navbar--button {
    max-height: 100%;
    max-width: 20%;
    font-size: 50%;
    top: 0;
    border: 1px solid black;
  }
  #reload--icon {
    right: 0;
  }
  #navbar--navigation {
    height: 2rem;
    left: 3rem;
  }
  #navbar--current-directory-header {
    top: 2rem;
  }
}