#navbar--component {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--screen-width);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  height: 4rem;
}

#navbar--navigation {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 6rem;
}

#navbar--navigation > * {
  font-size: 1.3rem;
}

.navbar--button {
  width: 3rem;
  height: 3rem;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'bebas neue';
  border-radius: 3px;
}

.navbar--button:hover {
  color: white;
  background-color: black;
  border: 1.5px solid white;
}

.navbar--button:disabled {
  background-color: #444;
  border: 1.5px solid #222;
  color: #222;
  cursor: default;
}

#reload--icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  right: 1rem;
}

@media screen and (max-width: 768px) {
  #navbar--component {
    height: 5rem;
  }
  .navbar--button {
    margin: 0;
  }
}