@keyframes opacityStuff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#custom-title {
  padding: 7px 12px 7px 12px;
  font-size: 0.8rem;
  background: #fff;
  outline: 1.5px solid black;
  border-radius: 2px;
  font-family: lato;
  z-index: 1000;
  position: fixed;
  transform-origin: left;
  animation: opacityStuff 170ms ease-in-out;
  line-height: 1.2rem;
  text-decoration: underline 1% grey;
  text-underline-offset: 3px;
}
