@import "../../Main/MainSCSS/variables.scss";

@keyframes opacityStuff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#custom-title {
  padding: 4px 1rem 4px 4px;
  font-size: 0.7rem;
  background: #000000fc;
  color: white;
  outline: 1.5px solid $accentColor;
  border-radius: 1px;
  font-family: bitter;
  font-weight: bold;
  z-index: 1000;
  position: fixed;
  transform-origin: left;
  animation: opacityStuff 170ms ease-in-out;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  text-decoration: underline 10% #ffffff;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}
