@keyframes opacityStuff {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#custom-title {
  padding: 5px;
  font-size: 0.7rem;
  background: #fff;
  outline: 1.5px solid black;
  border-radius: 2px;
  font-family: lato;
  z-index: 1000;
  position: fixed;
  transform-origin: left;
  animation: opacityStuff 150ms ease-in-out;
}
