@import '../../Main/MainSCSS/variables.scss';

#navbar--navigation {
  @include flexStyle(row);
  position: absolute;
  left: 6rem;
  max-width: 30%;
  
}

#navbar--navigation button {
  @include flexStyle(row);
  max-width: none;
  aspect-ratio: 1;
}
