@import "../../Main/MainSCSS/variables";

#display--name {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  left: 0;
  z-index: 25;
  color: white;
  font-family: "roboto slab";
  font-size: 1.3rem;
}
#display--nav-forwards,
#display--nav-back {
  position: fixed;
  z-index: 25;
  height: 2%;
  max-height: 3rem;
  min-height: 0.5rem;
  cursor: pointer;
  top: calc(50vh - 1.5rem);
}
#display--nav-forwards {
  right: 1rem;
}
#display--nav-back {
  left: 1rem;
}
#display--close {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 3%;
  max-width: 2.5rem;
  aspect-ratio: 1;
  z-index: 25;
  &:hover {
    transform: scale(1.1);
    transition: 100ms ease-in;
  }
}
@mixin slideEffect {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transform: scaleX(1);
}
#display--is-navigating {
  display: flex;
  align-items: center;
  position: fixed;
  left: 1%;
  top: 1%;
  width: 3%;
  max-width: 2.5rem;
  aspect-ratio: 1;
  z-index: 25;
  &:hover {
    #display--is-navigating-popup {
      @include slideEffect;
    }
  }
  img {
    position: absolute;
    width: 100%;
  }
}
#display--is-navigating-popup {
  width: max-content;
  height: 100%;
  font-family: "bebas neue";
  font-size: 1.3rem;
  z-index: 0;
  background-color: black;
  @include flexStyle(row);
  color: white;
  position: absolute;
  left: 125%;
  padding: 5% 1.5rem 0 1.5rem;
  top: 2%;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

#display--miscellaneous {
  background-color: #fff;
  #display--close {
    position: absolute;
    width: 5%;
  }
  #display--is-navigating {
    display: none;
  }
}
