@import "../../Main/MainSCSS/variables";

#popup-page {
  width: 100vw;
  height: 100vh;
  background-color: #22222288;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  backdrop-filter: blur(3px);
  @include flexStyle(row);
  .context-menu-item {
    background-color: none;
  }
  #popup-body {
    border-radius: 2px;
    width: 40rem;
    height: 20rem;
    background-color: #888;
    outline: 3px solid black;
    @include flexStyle(row);
    box-shadow: 1rem 1rem 10px black;
    position: relative;
    cursor: default;
    #popup-dialog {
      position: absolute;
      top: 7rem;
      font-family: "bebas neue";
      font-size: 1.7rem;
      @include flexStyle(row);
      img {
        width: 2rem;
      }
      #show-duplicates {
        font-family: "bebas neue";
        font-size: 1.7rem;
        color: yellow;
      }
    }
    #close-prompt {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #00000000;
      outline: none;
      cursor: pointer;
      font-family: "Times New Roman", Times, serif;
    }
    input {
      overflow: hidden;
      cursor: text;
      width: 60%;
      background-color: #fff;
      color: black;
      position: absolute;
      top: 7rem;
      height: 1.3rem;
      outline: none;
      word-wrap: break-word;
      font-family: serif;
      resize: none;
    }
    button {
      position: relative;
      top: 6rem;
      margin-inline: 5rem;
      width: 8rem;
      height: 3rem;
      font-family: bebas neue;
      font-size: 1.4rem;
    }
  }
}

#list-of-duplicates-container {
  position: absolute;
  bottom: 100%;
  display: none;
  right: calc(-50% - 2rem);
  background-color: #222;
  padding: 5px;
  border-radius: 3px;
  max-height: 15rem;
  overflow-y: auto;
  .list-of-duplicates {
    color: white;
    margin-bottom: 3px;
    font-family: akshar;
    border: 1px solid white;
    padding: 2px;
  }
}
