@import "../../Main/MainSCSS/variables.scss";

#navbar--sort-button {
  @include navbarBtn;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 5rem;
  transform: scale(1);
  opacity: 1;
  &:hover {
    transform: scale(1);
    transition: none;
    font-family: "bebas neue";
  }
  * {
    font-family: "bebas neue";
    font-size: 1.1em;
  }
  #filter--list {
    opacity: 1;
    right: 0rem;
    top: 2.49rem;
    position: fixed;
    height: 15rem;
    width: 15rem;
    list-style: none;
    background-color: #222;
    opacity: 1;
    li {
      @include flexStyle(row);
      color: white;
      &:hover {
        color: $accentColor;
        background-color: #444;
      }
    }
    #filetype-hover {
      justify-content: space-between;
      margin-inline: 20%;
    }
    & > li {
      @include flexStyle(row);
      opacity: 1;
      width: 100%;
      border-top: 0.75px solid white;
      border-bottom: 1.5px solid white;
      height: calc(1 / 6 * 100%);
    }
    ol {
      list-style: none;
      position: absolute;
      bottom: -12rem;
      left: -4.9rem;
      width: 5rem;
      height: 18rem;
      background-color: #222;
      overflow-y: scroll;
      & > li {
        height: calc(1 / 6 * 100%);
      }
    }
  }
}

#navbar--asc-desc {
  position: absolute;
  top: 0;
  right: 5.8rem;
  padding: 3px;
  height: 2.5rem;
  @include flexStyle(row);
  aspect-ratio: 1;
}
